* {

  margin: 0;
  padding: 0;
}

body {
font-family: 'Poppins', sans-serif;
background-color: #f9fafc;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fefae0;
}

.navbar__brand {
  width: 100px;

}

.navbar_logo {
  width: 100% ;
}

.nav__item {
  background-image: linear-gradient(
    to right ,
    #ffafcc 0%,
    #8ecae6 51%,
    #e76f51 100%
    );
color: #fefae0;
border: none;
padding: 12px;
border-radius: 6px;
 font-weight: 600;
}

.nav__item:hover {
 border: 2px solid #ffafcc;
 cursor: pointer;

}

 @media (min-width: 768px){
  .navbar {
    justify-content: space-between;
    padding: 10px 30px;
  }
}

@media (min-width: 1024px){
 .navbar__brand {
    width: 150px;
 }
 .nav__item {
   padding: 20px;
   font-size: 20px;
 }
}
